<% provide(:title, 'About Us')%>
<h1>About Us</h1>
	<p>
	This is a basic Twitter clone that I built by following Michael Hartl's
	<a href="http://railstutorial.org">Ruby on Rails Tutorial</a>. It represents
    my first effort at creating a functional web application. I've made only
    very slight modifications to the tutorial code and may decide to tinker around
    here and there. I plan to repeat this tutorial in a few weeks with the goal
    of creating an original site using Hartl's tutorial as a reference guide. 
	</p>
	<p>
	Thanks for checking this project out.	
	</p>
	<p>
	-Austin Sisson, 8/12/2014	
	</p>
